* {
    background-color: #EEEEEE;
}

.myshop {
    display: flex;
    flex-direction: row;
    margin-left: 7%;
    margin-right: 7%;
}

.myshop_registration {
    width: 700px;
    padding-top: 60px;
}

.registration__info {
    background-color: #3366FF;
    width: 550px;
    padding: 30px 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px grey;
}

.registration__inner {
    margin-top: 25px;
    width: 90%;
}

.registration-form {
    background-color: #3366FF;
}

.registration-form__group {
    background-color: #3366FF;

}

.form__group-title {
    width: 100px;
}

span,
label {
    background-color: #3366FF;
    color: white;
}

.search-form {
    display: inline-block;
    background-color: #3366FF;
}

.search-form__button {
    background-color: #3366FF;
    display: inline-block;
    border-radius: 5px;
    height: 20px;
}

.search-form__button-submit {
    padding: 0 auto;
    width: 80px;
    height: 20px;
    border: none;
    /* font-size: 15px; */
    /* color: white; */
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-form__button-submit:hover {
    background-color: blue;
    color: white;
}

.form__group-title,
.form__input-text {
    background-color: #3366FF;
    display: inline-block;
}

textarea {
    /* width: 140%; */
    height: 200px;
    background-color: white;
}

.form__btn {
    margin-top: 20px;
    margin-left: 38%;
    padding: 0 auto;
    width: 130px;
    height: 30px;
    border: none;
    font-size: 15px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form__btn:hover {
    background-color: blue;
    color: white;
}

ul {
    color: red;
    padding-left: 0;
}

li {
    list-style: none;
    background-color: #3366FF;
}

.img {
    background-color: #3366FF;
}

input {
    margin-bottom: 18px;
    background-color: white;
}

select {
    margin-bottom: 18px;
    background-color: white;
}

.myshop_reservation {
    width: 700px;
    margin-bottom: 50px;
    margin-left: 50px;
}

table {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.table_inner {
    width: 100%;
}

table td,
table th {
    width: 700px;
    height: 60px;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid black;
}

.table_header {
    text-align: left;
}

