* {
    background-color: #EEEEEE;
}

.registered {
    margin: 0 auto;
    padding-top: 100px;
    width: 400px;
    height: 300px; 
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 3px grey;
}

.registered__message {
    text-align: center;
    background-color: white;
    font-size: 22px;
    font-weight: bold;
    font-family: "游ゴシック", sans-serif;
}

.login__button {
    margin: 48px auto;
    width: 120px;
    height: 28px;
    text-align: center;
    border-radius: 3px;
    background-color: #3366FF;
}

.login__button-submit {
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
}